

.container{
   
    display: flex;
    justify-content: center;
    gap: 50px;
    

}

.head{
    display: flex;
    font-size: 50px;
    justify-content: center;     
    margin-top: 30px;
    margin-bottom: 150px;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h{
    font-size: 30px;
    
}